@using NerdStoreEnterprise.WebApp.Mvc.Extensions
@model IEnumerable<NerdStoreEnterprise.WebApp.Mvc.Models.Products.ProductViewModel>
@{
    ViewData["Title"] = "All Products";
}

<section>
    <div>
        <div></div>
        <div class="container">
            <div class="row">
                @{
                    foreach (var product in Model.OrderBy(product => product.Name))
                    {
                        <div class="col-md-3">
                            <div href="#" class="card">
                                <a asp-controller="Catalog" asp-action="ProductDetails" asp-route-id="@product.Id">
                                    <img src="~/images/products/@product.Image" alt="Product image"/>
                                </a>
                                <figcaption>
                                    <a asp-controller="Catalog" asp-action="ProductDetails" asp-route-id="@product.Id">
                                        <b>@product.Name</b>
                                    </a>
                                    <small class="card-text">
                                        @this.StockMessage(product.QuantityInStock) <br/><br/>
                                        @product.Description
                                    </small>

                                    <p>
                                        <b>@this.CurrencyFormatter(product.Price)</b>
                                    </p>
                                </figcaption>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>